/***ESTILOS GENERALES***/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #0ead69;
  color: white;
  scroll-behavior: smooth;
}
#header-principal {
    height: 100vh;
  }
  
  .contenedor {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: block;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  .title-1 {
    color: #ffd23f;
    font-size: 30px;
    font-weight: 400px;
  }
  .title-2 {
    color: #540d6e;
  }
  .title-3 {
    text-transform: lowercase;
    font-weight: 300;
  }
  .large {
    padding-top: 20px;
  }
  .flexible {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /***ESTILOS DE LA BARRA DE NAVEGACION**/
  #header-principal nav .navegacion {
    float: left;
    text-transform: uppercase;
  }
  
  .navegacion ul li {
    padding-top: 20px;
    float: left;
    list-style: none;
  }
  .navegacion ul li a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  .navegacion ul li :hover {
    background-color: #540d6e;
    color: #ffd23f;
    font-weight: bolder;
    border-bottom: 3px solid white;
    border-radius: 8px;
  }
  #header-principal nav .logo {
    
    float: right;
    height: 100px;
    padding-top: 10px;
    padding-right: 10px;
  }
  #header-principal nav .contenedor .logo img {
    background-color:#ffd23f;
    width: 100px;
    height: 94px;
    border-radius: 100px;
    box-shadow: 0 0 15px 0 #540d6e;
  }
  
  /***ESTILO DE LA SECCION HOME***/
  #home {
    margin-top: 50px;
  }
  #home #seccion-texto {
    width: 50%;
    float: left;
    text-align: center;
    padding: 20px 20px 20px 40px;
  }
  
  #seccion-texto h1 {
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 500;
  }
  
  #home #seccion-img {
    width: 50%;
    float: right;
  }
  #home #seccion-img img {
    margin-top: 20px;
    margin-left: 40px;
    width: 89%;
    height: 0%;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 #540d6e;
  }
  /***SECCION EVENTO***/

#evento #seccion-video {
    margin-left: 40px;
    width: 50%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 #540d6e;
  }
  
  #evento #seccion-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  #evento #seccion-titulo {
    width: 50%;
    text-align: center;
  }
  
  #evento #seccion-titulo h1 {
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 10px;
  }
  /***SECCION NOSOTROS***/
#nosotros {
    padding: 20px;
  }
  #seccion-nosotros-titulo {
    width: 50%;
  }
  
  #nosotros #seccion-nosotros-titulo h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 500;
    /*padding: 10px;
    margin-bottom: 10px;*/
  }
  #nosotros #seccion-nosotros-img {
    margin-left: 40px;
    width: 50%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 #540d6e;
  }
  #nosotros img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  